@using GordonWebApp.HtmlHelpers
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Html.PageClass()</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
    <environment>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        @*<link href="~/lib/inspinia/css/style.css" rel="stylesheet" />*@
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/animate.css" rel="stylesheet" />
        <link href="~/lib/jasny-bootstrap/dist/css/jasny-bootstrap.css" rel="stylesheet" />
        <link href="~/lib/ladda/dist/ladda-themeless.min.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />       
        <link href="~/lib/dataTables/datatables.min.css" rel="stylesheet" />
        <link href="~/lib/iCheck/custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>



</head>
<body>

    <!-- Skin configuration box -->
    <!-- <partial name="_SkinConfig" /> -->
    <!-- Wrapper-->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        <partial name="_Navigation" />

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            <partial name="_TopNavbar" />

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            <partial name="_Footer" />

        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        <partial name="_RightSidebar" />

    </div>


    <environment>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/pace/pace.js"></script>
        <script src="~/lib/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
        <script src="~/lib/inspinia/js/inspinia.js"></script>
        <script src="~/lib/ladda/dist/spin.min.js"></script>
        <script src="~/lib/ladda/dist/ladda.min.js"></script>
        <script src="~/lib/ladda/dist/ladda.jquery.min.js"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/js/configuration.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/js/skin.config.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>


    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
